#league-info{
    background-color: #3A42FF;
    height: 284px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


img{
    height: 249px;
    width: 476px;
}

@media only screen and  (max-width: 1000px) {
    #league-info {
        height: 500px;
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }}

    @media only screen and  (max-width: 1000px) {
        img {
            height: 249px;
            width: 425px;
        }}

    
.logo{
    height: 215px;
    width: 323px;
}

.social-media-logo img{
    height: 65px;
    width: 65px;
}